In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/online_retail_customer_churn.csv')
df.head()

,Customer_ID,Age,Gender,Annual_Income,Total_Spend,Years_as_Customer,Num_of_Purchases,Average_Transaction_Amount,Num_of_Returns,Num_of_Support_Contacts,Satisfaction_Score,Last_Purchase_Days_Ago,Email_Opt_In,Promotion_Response,Target_Churn
0,1,62,Other,45.15,5892.58,5,22,453.80,2,0,3,129,True,Responded,True
1,2,65,Male,79.51,9025.47,13,77,22.90,2,2,3,227,False,Responded,False
2,3,18,Male,29.19,618.83,13,71,50.53,5,2,2,283,False,Responded,True
3,4,21,Other,79.63,9110.30,3,33,411.83,5,3,5,226,True,Ignored,True
4,5,21,Other,77.66,5390.88,15,43,101.19,3,0,5,242,False,Unsubscribed,False

In [4]:
X = df[["Age", "Gender", "Annual_Income", "Years_as_Customer", "Num_of_Purchases", "Num_of_Returns", "Num_of_Support_Contacts", "Satisfaction_Score", "Last_Purchase_Days_Ago", "Email_Opt_In", "Promotion_Response", "Target_Churn"]]

In [6]:
y = df["Total_Spend"]

In [ ]:
y